/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fab{
  font-size: 32px;
}

.position{
  /*右から40px上から100pxに移動*/
  position: absolute;
  top: 100px;
  right: 40px; 
}